@import url("https://fonts.googleapis.com/css?family=Cardo|Noto+Serif+JP");
.font {
  font-family: 'Cardo', serif;
  font-family: 'Noto Serif JP', serif;
}

html {
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;

}


ul{
    list-style: none;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    /* grid-template-rows: repeat(3, 1fr); */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

header{
    grid-column: 1 / -1;
    background-color: #00AAF5;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    z-index: 100;
}

side{
    grid-column: 1 / 4;
    background-color: #fff;
    text-align: center;

    /* effect */
    opacity: 1;
    transform: translateY(10);
    transition:  2s all ease-in
}


/* .intro-appear{
        opacity: 1;
        transform: translateY(0px);
} */


side > ul{
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

side > ul > li {
    margin-bottom: 20px;
    
}


side > ul > li > a{
    text-decoration: none;
    color: #00AAF5;
    font-size: 18px;
    font-family: 'Cardo', serif;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #00aaf5;
}

content{
    grid-column: 4/ 13;
}


.main{
    position: relative;
    width: 100%;
    background: #1840a5;
}

.main .v{
    /* transition: all 10s cubic-bezier(0.73, 0.02, 0.29, 1) 0s !important; */
    /* transition:  10s all ease-in-out !important; */
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100vh;

    background: url("./v.jpg") no-repeat center center;
    background-size: cover;
}

.v-start{
    transition:  10s all ease-in-out !important;
    transform: translate(0%, -50%);
}

.main .v img{
    display: block;
    width: 100%;
}

.spacer{
    visibility: hidden;
    opacity: 0;
}

.main .prizes{
    position: absolute;
    z-index: 1;
    padding: 20px 0 0 20px;
    box-sizing: border-box
}

.main .prizes img{
    display: block;
    max-height: 13vh;
}

.copy{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.active{
    animation: opcopy 4s ease 1.8s;
    animation-fill-mode: both;
    -webkit-animation: opcopy 5s ease 1.5s;
    -webkit-animation-fill-mode: both;
}


.title-active{
    animation: titlecopy 6s ease-in 1.8s;
    animation-fill-mode: both;
    -webkit-animation: titlecopy 6s ease-in 1.5s;
    -webkit-animation-fill-mode: both;
}

.badge-active{
    animation:   badgecopy 7s ease-in 1.8s;
    animation-fill-mode: both;
    -webkit-animation: titlecopy 7s ease-in 1.5s;
    -webkit-animation-fill-mode: both;
}

.banner-active{
    animation: opcity 1.5s ease-in 7s;
}

.roadshow{
    margin: -16px 0 0 0;
}

.banner{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main .banner ul {
    display: flex;
    padding: 0;
}


.main .banner ul li {
    padding-right: 10px;
}

.main .banner ul li img{
    height: 50px;
}

.badge{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.main .badge ul{
    display: flex;
    height: 100%;
}

.main .badge ul li{
    display: block;
    padding-left: 10px;
}

.main .badge ul li a{
    position: relative;
    display: block;
}

.main .badge ul li a img{
    max-height: 17vh;
}

.main .badge ul li a img.fuki{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 4.5vw;
    transform: translate(-26%, -86%);
}

/* .btns{
    transition: all .5s ease 0s;
    transform: translateY(32%);
} */

/* .pages{
    position: absolute;
    top: 50%;
    left: 0;
} */

@keyframes titlecopy{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    25% {
        visibility: visible;
        opacity: 0;
    }

    75% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes badgecopy{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    25% {
        visibility: visible;
        opacity: 0;
    }

    75% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes opcopy{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    25% {
        visibility: visible;
        opacity: 1;
    }

    75% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    

}

.p{
    position: absolute;
    top: 50%;
    left: 70%;
    display: block;
    width: 15%;
    height: 80vh;
    min-height: 41%;
    max-height: 64%;
    transform: translateY(-50%);
}

.main .txt h1{
    margin: 0;
    padding: 0;
}

.main .txt h1 img{
    width: 80%;
}



/* Delay css ở thuộc tính */

/* .top-item{
    transition-delay: 8.5s !important;
} */


.social-container{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
}

.social-share{
    
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: block;
    align-self: center;
    justify-content: center;
}

.social-img{
    display: block;
    width: 39px;
    height: 39px;
    margin-right: 16px;
}


.margin-bottom{
    margin-bottom: 10px;
}

small{
    display: block;
    font-size: small;
    margin: 15px;
}


.onsei{
    display: flex;
    justify-content: space-around;
    
    
}

.top-item{
    -webkit-transition-delay: 8.5s !important;
    transition-delay: 8.5s !important;
}


.pages{
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 0;
    transform: translateZ(0);
    /* backface-visibility: hidden; */
}

section{
    font-family: 'Noto Serif JP', serif;
    font-size: 17px;
    line-height: 1.8;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    text-align: left;
    letter-spacing: .02em;
    color: #00aaf5;
    background: #fff;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.page{
    text-align: left;
}

.inner {
    max-width: 790px;
}

.main section h2{
    font-family: 'Cardo', serif;
    font-size: 22px;
    padding-bottom: .8em;
    letter-spacing: .15em;
}

.main .intro p {
    font-size: 13px;
    line-height: 2.3;
    padding-bottom: 1em;
}

.main section p {
    padding: 1em 0 1.8em;
}

.page p {
    color: #000;
}

.main .intro .lead {
    font-size: 17px;
    line-height: 2.5;
}

.main .intro figure{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}

figure{
    padding: 0;
    margin: 0;
}

.main .story figure {
    padding: 15px 0 20px;
}

.main .story p {
    font-size: 17px;
    line-height: 2.5;
    padding-bottom: 1.2em;
}

.main .credit {
    text-align: center;
}

.main .credit h2 {
    padding-bottom: 45px;
}


.intro-text{
    opacity: 0;
    transform: translateY(20px);
}

.intro-1{
    opacity: 1;
    transform: translateY(0);
    transition: 1s all ease-in-out;
}