@import url("https://fonts.googleapis.com/css?family=Cardo|Noto+Serif+JP");
.font {
  font-family: 'Cardo', serif;
  font-family: 'Noto Serif JP', serif;
}

html, body{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    /* grid-template-rows: repeat(3, 1fr); */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

header{
    grid-column: 1 / -1;
    background-color: #00AAF5;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    z-index: 100;
}

side{
    grid-column: 1 / 4;
    background-color: #fff;
    text-align: center;
}

side > ul{
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

side > ul > li {
    margin-bottom: 20px;
    
}

side > ul > li > a{
    text-decoration: none;
    color: #00AAF5;
    font-size: 18px;
    font-family: 'Cardo', serif;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #00aaf5;
}

content{
    grid-column: 4/ 13;
}


.main{
    position: relative;
    width: 100%;
    background: #1840a5;
}

.main .v{
    transition: all 10s cubic-bezier(0.73, 0.02, 0.29, 1) 0s !important;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100vh;
    transform: translate(0%, -50%);
    background: url("./v.jpg") no-repeat center center;
    background-size: cover;
}

.main .v img{
    display: block;
    width: 100%;
}

.spacer{
    visibility: hidden;
    opacity: 0;
}

.main .prizes{
    position: absolute;
    z-index: 1;
    padding: 20px 0 0 20px;
    box-sizing: border-box
}

.main .prizes img{
    display: block;
    max-height: 13vh;
}

.copy{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.active{
    animation: opcopy 4s ease 1.8s;
    animation-fill-mode: both;
    -webkit-animation: opcopy 5s ease 1.5s;
    -webkit-animation-fill-mode: both;
}


.title-active{
    animation: titlecopy 6s ease-in 1.8s;
    animation-fill-mode: both;
    -webkit-animation: titlecopy 6s ease-in 1.5s;
    -webkit-animation-fill-mode: both;
}

.roadshow{
    margin: -16px 0 0 0;
}

.banner{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main .banner ul {
    display: flex;
    padding: 0;
}


.main .banner ul li {
    padding-right: 10px;
}

.main .banner ul li img{
    height: 50px;
}

.badge{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.main .badge ul{
    display: flex;
    height: 100%;
}

.main .badge ul li{
    display: block;
    padding-left: 10px;
}

.main .badge ul li a{
    position: relative;
    display: block;
}

.main .badge ul li a img{
    max-height: 17vh;
}

.main .badge ul li a img.fuki{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 4.5vw;
    transform: translate(-26%, -86%);
}

/* .btns{
    transition: all .5s ease 0s;
    transform: translateY(32%);
} */

/* .pages{
    position: absolute;
    top: 50%;
    left: 0;
} */

@keyframes titlecopy{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    25% {
        visibility: visible;
        opacity: 0;
    }

    75% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes opcopy{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    25% {
        visibility: visible;
        opacity: 1;
    }

    75% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    

}

.p{
    position: absolute;
    top: 50%;
    left: 70%;
    display: block;
    width: 15%;
    height: 80vh;
    min-height: 41%;
    max-height: 64%;
    transform: translateY(-50%);
}

.main .txt h1{
    margin: 0;
    padding: 0;
}

.main .txt h1 img{
    width: 80%;
}



/* Delay css ở thuộc tính */

/* .top-item{
    transition-delay: 8.5s !important;
} */


.social-container{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
}

.social-share{
    
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: block;
    align-self: center;
    justify-content: center;
}

.social-img{
    display: block;
    width: 39px;
    height: 39px;
    margin-right: 16px;
}


.margin-bottom{
    margin-bottom: 10px;
}

small{
    display: block;
    font-size: small;
    margin: 15px;
}


.onsei{
    display: flex;
    justify-content: space-around;
    
    
}

